 h1 a {
        color: #FCA205;
    }
div.game {
    width: 150px;
    height: 180px;
    position: relative;
    margin: auto;
}

.game .overbox {
    height: 180px;
    width: 150px;
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: rgb(0, 150, 136);
    color: #fff;
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.game:hover .overbox {
    opacity: 0.8;
}


img.game-cover {
    border: 1px solid black;
    height: 180px;
    width: 150px;
}

img.big-cover {
max-width: 400px;
    width: 100%;
    border: 1px solid black;
}

.single-game-container {
    margin-top: 30px;
    margin-bottom: 30px;
}


.container {
    padding: 20px;
}


.game-container {

    margin-bottom: 30px;
    text-align: center;
    }


div#footer {
    padding: 20px;
    position: relative;
    min-height:100px;
    background-color: #000;
    color: white;
    text-align: center;
}

.game-gallery-pic {
    border: 1px solid gray;
    width: 100px;
}


.goodie-desc-container {
    display:inline;
}

.goodie-have-container {
    display:inline;
}

.goodie-name {
}

.goodie-desc {
    font-size: 10px;
}

.game-goodies-list {

}

.game-goodies-list tr {
    height: 40px;
    border: 1px solid #ddd;
    padding: 10px;
}
.game-goodies-list td {

    padding: 10px;
}
.game-goodies-list td.data-goodie-desc {
 width: 200px;
}

.overtext{
    bottom: 0;
    position: absolute;
    padding: 10px;
    width: 100%;
}

.filter-header {
    text-align: center;
    margin-bottom: 30px;
}

img.company-logo {
    width: 150px;
}

h1.game-title {
display:inline;
vertical-align: middle;
}

span.section-title {
    font-size: 20px;
}


.cover-wrapper {
}


.info-wrapper {

}

.goodies-wrapper {
}
input#search {
    margin: auto;
    width: 50%;
    display: block;
}
 .image-upload {
 width: 200px;
 }

 .image-upload-wrapper{

 display: inline-block;
 }



 .navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}



div.header {
    padding: 20px;
position: relative;
    min-height:100px;
    background-color: #000;
    color: white;
    vertical-align: text-bottom;
}
nav#menu {
    position:absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}


.navbar-header{
   
}

table.contact-form {
    margin: auto;
}

td.form-label {
    vertical-align: top;
}

td.form-field input {
    width: 100%;
}

.contact-form {
    width: 90%;
    margin:auto;
}

.submit {

width:100%;
}

.form-control {
    background: white !important;
    padding: 10px;
}


.game.thin-box .game-cover {
    width: 130px;
}

.game.thin-box {
    width: 120px;
}

.game.thin-box .overbox {
    width: 130px;
}

.goodie-container {
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 1px solid #d5d5d5;
}

img.goodie-game-cover {
    width: 60px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid gray;
}

.goodie-info {
    display: inline-block;
    padding-left: 20px;
}


