{% extends 'collection/base.html' %}
{% block content %}
<div class="about">
    <h3>Acerca de esta web</h3>
    <p>Empecé a jugar aventuras gráficas bastante tarde, en 1996; fue con Leisure Suit Larry 6 y desde entonces no he parado. Algunos me
        conoceréis por mi nick <strong>kelmer</strong>, bajo el cual escribí primero en El Paraíso de la Aventura y
        luego en <strong><a href="http://www.aventuraycia.com" target="_blank">Aventura y
            CÍA</a></strong>, web de la que fui parte integral, y donde también realicé trabajos de programación.</p>

    <p>Las aventuras gráficas han sido siempre mi mayor pasión, llevándome incluso a traducir varias de ellas, tanto a
        nivel
        amateur (Indiana Jones and the Last Crusade VGA, Sanitarium, Gabriel Knight 2) como semiprofesional (Bone: Out
        from
        Boneville o Black Mirror 3 y A New Beginning junto con mi compañero Javier Cadenas).</p>

    <p>Siempre he tenido espíritu coleccionista en todas mis aficiones, tanto en los videojuegos (NES, GameBoy, SNES,
        N64...) como en el cine o los libros, pero recientemente he decidido enfocar mis esfuerzos de coleccionista en
        la
        aventura gráfica, tratando de terminar la que siempre quise que fuese una colección completa de lo mejor del
        género
        en los años 90.</p>

    <p>
        Llegado un punto, y especialmente dado que ya no resido en España, me vi obligado a idear una forma de administrar mi
        colección de
        forma que siempre pudiese tenerla a la vista, y tras la inspiración de <strong><a
            href="http://www.nostalgiapixelada.net">Nostalgia Pixelada</a></strong> con ello nació esta web. De esta
        forma puedo
        catalogar no solo
        los
        ítems que tengo sino también los que busco para completar mi colección, construyendo por el camino una pequeña
        base de
        datos sobre la distribución de aventuras gráficas en España en una época que para muchos significó un antes y un
        después en nuestras vidas.
    </p>
</div>
<br>
{% endblock content %}

