{% load staticfiles %}


<html>

<head>
    <title>La Aventura Original</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dropzone.min.css' %}">
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="{% static 'css/bootstrap-material-design.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/blueimp-gallery.min.css' %}" rel="stylesheet">

    <!-- Page style -->
    <link rel="stylesheet" href="{% static 'css/collection.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script language="JavaScript" src="{% static 'js/dropzone.min.js' %}"></script>
    <script language="JavaScript" src="{% static 'js/jquery.blueimp-gallery.min.js' %}"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106128393-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>


<nav class="navbar navbar-default navbar-static-top" role="navigation">

    <div class="container">
        <div class="navbar-header">

            <a style="color: #fff" href="http://aventuraoriginal.com"><h1>La Aventura Original</h1></a>
            <h4>Colección de aventuras gráficas originales en castellano</h4>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/have">Colección</a></li>
                <li><a href="/libros">Libros de pistas</a></li>
                <li><a href="/keepcase">Keep case</a></li>
                <li><a href="/otros">Otros</a></li>
                <li><a href="/want">Se busca</a></li>

                <li><a href="/missing">Missing floppies!</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    {% block content %}
    {% endblock %}
</div>
<div id="footer"><a href="/about">¿Quién soy?</a></div>

<script language="JavaScript" src="{% static 'js/material.min.js' %}"></script>
<script language="JavaScript" src="{% static 'js/jquery.hideseek.min.js' %}"></script>

<script language="JavaScript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>

