{% extends 'collection/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}

    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}


<div class="row">
    <h1>Contacto</h1>
    <p>Si tienes alguna aventura que me falte o alguna duda por favor no dudes en contactarme. Tambien puedes encontrarme en kelmer arroba gmail punto com.</p>
    <div class="contact-form">
        <form class="form-horizontal" role="form" action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            {% if field.errors %}
            <div class="form-group has-error">
                <label class="col-sm-offset-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    <span class="help-block">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                </div>
            </div>
            {% else %}
            <div class="form-group">
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                {{ field|attr:"class:form-control" }}
                {% if field.help_text %}
                <p class="help-block">
                    <small>{{ field.help_text }}</small>
                </p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="form-group">
                <div class="col">
                    <button type="submit" class="btn btn-primary submit" >Enviar</button>
                </div>
            </div>

    </div>
    </form>
</div>
{% endblock content %}

