{% extends 'collection/base.html' %}
{% block content %}
<div class="row">
    <div class="title-container">
        <h1 class="game-title">{{ game.name }}</h1>
        {% if game.have %}
        <img src="/static/icons/checkmark-24.png" alt="Juego en la colección"/>
        {% else %}
        <img src="/static/icons/x-mark-24.png" alt="Juego aún no en la colección"/>
        {% endif %}
    </div>
</div>
<div class="row single-game-container">
    <div class="col-md-4 cover-wrapper">
        <img class="big-cover" src="/media/{{ game.cover}}"/>

    </div>
    <div class="col-md-4 info-wrapper">
        <span class="section-title">Información</span>
        <div class="game-data">

            <p> Año: <a href="/have/?year={{game.year}}">{{ game.year }} </a></p>
            <p> Edición: {{ game.edition }} </p>
            {% if game.description %} <p> Descripción: {{ game.description}} </p>{% endif %}
            <!--<p> En colección:{{ game.have }} </p>-->
            <p> Desarrolladora: <a href="/have/?dev_id={{game.developer.id}}">{{ game.developer }} </a></p>
            <p> Editora: <a href="/have/?dev_id={{game.publisher.id}}">{{ game.publisher }} </a></p>
            <p> Distribuidora: <a href="/have/?dev_id={{game.distributor.id}}">{{ game.distributor }}</a></p>
            <p> Edición española: {{ game.spanish }} </p>
            {% if game.have %} <p> Estado: {{ game.estado }} </p>

            <p> Obtenido en: {{ game.origen }} </p>

            {% endif %}
        </div>

    </div>
    {% if game.have and goodies|length > 0 %}
    <div class="col-md-4 goodies-wrapper">
        <span class="section-title">Contenido</span>
        <table class="game-goodies-list">
            {% for goodie in goodies %}
            <tr>
                <td class="data-goodie-desc">
                    <span class="goodie-name">{{goodie.name}}</span>
                    <br/><span class="goodie-desc">{{goodie.description}}</span>
                </td>
                <td>
                    {% if goodie.have %}
                    <img src="/static/icons/checkmark-24.png"/>
                    {% else %}
                    <img src="/static/icons/x-mark-24.png"/>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}


        </table>
        <br/>
        <!--<form method="POST" class="goodie-form">{% csrf_token %}-->
        <!--{{ form.as_p }}-->
        <!--<button type="submit" class="save btn btn-default">Save</button>-->
        <!--</form>-->

    </div>
    {% endif %}
</div>



{% if game.have and images|length > 0 %}


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>



<div class="row game-gallery" id="links">
    <span class="section-title">Imágenes</span>
    <br />
    <br />
    {% for image in images %}
    <div class="col-lg-2 col-sm-3 col-xs-4">
        <a href="/media/{{ image.url }}" title="{{ image.description }}"><img class="game-gallery-pic" alt="{{ image.description }}" src="/media/{{ image.url }}"/></a>
    </div>
    {% endfor %}
</div>

<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>


{% endif %}



{% if user.is_superuser %}
<!-- IMPORTANT enctype attribute! -->
<div class="image-upload-wrapper">
    <h4>Portada:</h4>
    <form class="dropzone image-upload"
          action="{% url 'collection.views.upload_image' pk=game.pk %}?description=Portada" method="post"
          id="dropzone-portada"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="fallback">
            <input name="file" type="file" multiple/>
        </div>

    </form>
</div>
<div class="image-upload-wrapper">
    <h4>Contraportada:</h4>
    <form class="dropzone image-upload"
          action="{% url 'collection.views.upload_image' pk=game.pk %}?description=Contraportada" method="post"
          id="dropzone-contraportada"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="fallback">
            <input name="file" type="file" multiple/>
        </div>

    </form>
</div>


<div class="image-upload-wrapper">
    <h4>Contenido:</h4>

    <form class="dropzone image-upload"
          action="{% url 'collection.views.upload_image' pk=game.pk %}?description=Contenido" method="post"
          id="dropzone-contenido"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="fallback">
            <input name="file" type="file" multiple/>
        </div>

    </form>
</div>


<div class="image-upload-wrapper">
    <h4>Otros:</h4>

    <form class="dropzone image-upload" action="{% url 'collection.views.upload_image' pk=game.pk %}?description=Otros"
          method="post" id="dropzone-otros"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="fallback">
            <input name="file" type="file" multiple/>
        </div>

    </form>
</div>


<script type="text/javascript">

            Dropzone.options.myDropzone = {
                paramName: "file", // el nombre de nuestro input
                autoProcessQueue : true,
                parallelUploads: 1,

                init: function() {

                    this.on("success", function(file, responseText) {
                        // evento lanzado al terminar de subir las imágenes en cola
                        console.log(responseText);
                    });
                }
            };




</script>

{% endif %}
{% endblock content %}

