{% extends 'collection/base.html' %}
{% block content %}

<div class="row input-search">
    <input id="search" name="search" placeholder="Búsqueda" type="text" data-list=".default_list"
           autocomplete="off">
</div>

{% if goodies_missing and goodies_missing|length > 0 %}

<h3>Items que faltan</h3>
<div class="row default_list">

    {% for goodie in goodies_missing %}
    <div class="goodie-container">
        <img class="goodie-game-cover" src="/media/{{ goodie.game.cover }}"/>

        <div class="goodie-info">
            <h4 class="title"><strong>{{goodie.game}}</strong></h4>
            <h6 class="year">{{goodie.name}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<p>Total resultados: {{ total_missing }}</p>

{% endif %}


<script language="JavaScript">
$(document).ready(function(){
$("#search").hideseek({

  ignore_accents: true
});
});




</script>
{% endblock content %}
