{% extends 'collection/base.html' %}
{% block content %}

{% if company != None %}
<div class="filter-header company-header">
    <img class="company-logo" src="/media/{{ company.logo }}"/>
    <h3>{{company.name}}</h3>
</div>
{% endif %}
{% if year != None %}
<div class="filter-header  year-header">
    <h3>{{year}}</h3>
</div>

{% endif %}
<div class="row input-search">
    <input id="search" name="search" placeholder="Búsqueda" type="text" data-list=".default_list"
           autocomplete="off">
</div>

{% if games_have and games_have|length > 0 %}

<h3>Juegos en la colección</h3>
<div class="row default_list">


    {% for game in games_have %}
    <div class="game-container col-md-2 col-sm-3">
        {% if no_links %}
            <div class="game {{extra_class}}">
                <div class="overbox">
                    <div class="overtext">
                        <h4 class="title">{{game.name}}</h4>
                        <h6 class="year">{{game.year}}</h6>
                    </div>
                </div>

                <img class="game-cover" src="/media/{{ game.cover }}"/>

                <!--<br/>-->
                <!--<span class="title">{{game.name}}</span>-->
            </div>

        {% else %}
        <a href="{% url 'collection.views.game_detail' pk=game.pk %}">
            <div class="game {{extra_class}}">
                <div class="overbox">
                    <div class="overtext">
                        <h4 class="title">{{game.name}}</h4>
                        <h6 class="year">{{game.year}}</h6>
                    </div>
                </div>

                <img class="game-cover" src="/media/{{ game.cover }}"/>

                <!--<br/>-->
                <!--<span class="title">{{game.name}}</span>-->
            </div>
        </a>

        {% endif %}

    </div>

    {% endfor %}
</div>

<p>Total resultados: {{ total_have }}</p>

{% endif %}


{% if games_nhave and games_nhave|length > 0 %}
<h3>En busca y captura</h3>
<p class="subtitulo">Juegos que (todavía) no están en la colección.</p>
<div class="row default_list">
    {% for game in games_nhave %}
    <div class="game-container col-md-2 col-sm-3">
        <div class="game {{extra_class}}">
            <a href="{% url 'collection.views.game_detail' pk=game.pk %}">
                <img class="game-cover" src="/media/{{ game.cover }}"/>
                <div class="overbox">
                    <div class="overtext">
                        <h4 class="title">{{game.name}}</h4>
                        <h6 class="year">{{game.year}}</h6>
                    </div>
                </div>
            </a>
            <!--<br/>-->
            <!--<span class="title">{{game.name}}</span>-->
        </div>
    </div>

    {% endfor %}
</div>

<p>Total resultados: {{ total_nhave }}</p>
<p>Si tienes alguno de estos juegos no dudes en <a href="/contacto">contactarme</a>.

{% endif %}


<script language="JavaScript">
$(document).ready(function(){
$("#search").hideseek({

  ignore_accents: true
});
});


</script>
{% endblock content %}
